/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.3rem;
}

.main-wrapper {
    max-width: 1440px;
    margin: 0px auto;
}

.secondary-wrapper {
    max-width: 1300px;
    margin: 0px auto;
}

.header {
    margin-top: 3rem;
}

.header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-inner .button {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 2rem;
    color: hsl(322, 100%, 66%);
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.header-inner .button:hover {
    border: 1px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
}

.presentation {
    margin-top: 12rem;
}

.presentation-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.presentation-content h1 {
    margin-bottom: 1.5rem;
}

.presentation-content p {
    max-width: 520px;
    margin: 0px auto 2rem auto;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

a.button-primary {
    display: inline-block;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 1.5rem 6rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 700;
    -webkit-box-shadow: 0px 3px 13.2px rgb(0 0 0 / 30%);
    box-shadow: 0px 3px 13.2px rgb(0 0 0 / 30%);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 1.3rem;
}

a.button-primary:hover {
    background-color: hsl(321, 100%, 78%);
}

.presentation-content img {
    width: 100%;
    margin-top: 6rem;
}

.counter {
    margin: 6rem auto 6rem auto;
}

.counter-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -2rem;
}

.counter-content > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-left: 2rem;
    margin: 0px auto;
    max-width: 337px;
}

.counter svg {
    height: 40px;
}

.counter .number {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 6rem;
}

.counter .lyrics {
    color: rgba(0,0,0,0.4);
    font-size: 1.5rem;
}

.main-section .main-section-content {
    background: hsl(207, 100%, 98%);
    padding: 3rem 0px;
}

.main-section svg {
    fill: hsl(207, 100%, 98%);
    display: block;
}

.main-section .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -10rem;
}

.main-section .content > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-left: 10rem;
}

.main-section .content > div img {
    width: 100%;
}

.main-section .content p {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.main-section-content.flow {
    background: white;
    padding: 8rem 0px;
}

.last-section .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
}

.last-section .content .button-primary {
    margin-top: 3rem;
}

.footer-section svg {
    fill: hsl(192, 100%, 9%);
}

.footer-section .logos {
    display: inline-block;
}

.footer-section .logos svg{
    fill: white;
    height: 2.5rem;
}

.footer-section .main-section-content {
    background: hsl(192, 100%, 9%);
}

.footer-section .email svg, .footer-section .phone svg {
    fill: white;
    width: 20px;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.footer-section .email, .footer-section .phone {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1rem;
    margin-top: 2rem;
    text-decoration: none;
}

.footer-section .email > * , .footer-section .phone > * { 
    padding-left: 1rem;
}

.footer-section {
    color: white;
}

.footer-section .main-section-content {
    padding: 7rem 0px;
}

.footer-section .content {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.footer-section p {
    font-size: 1rem !important;
    max-width: 414px;
}

.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4rem;
    margin-left: -1.5rem;
}

.socials > div {
    padding-left: 1.5rem;
}

.socials a {
    display: block;
}

.socials svg {
    fill: white;
    height: 2rem;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.socials svg:hover {
    fill: rgb(0,199,248);
}

form {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -2rem;
}

form > * {
    padding-left: 2rem;
}

form button {
    height: 3rem;
    padding: 1rem 2rem;
    display: inline-block;
    color: white;
    background-color: hsl(322, 100%, 66%);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

form button:hover {
    background-color: hsl(321, 100%, 78%);
}

form input {
    height: 3rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 100%;
}

form .left {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

form .right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (max-width: 1586px) { 
    .main-wrapper {
        padding: 0px 3rem;
    }
}

@media screen and (max-width: 1398px) { 
    .secondary-wrapper {
        padding: 0px 3rem;
    }
}

@media screen and (max-width: 1100px) { 
    .header img {
        height: 2.5rem;
    }
    :root {
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) { 
    .counter-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
    }

    .main-section .content > .content-right {
        margin-top: 6rem;
    }

    .counter-content > div {
        padding-left: 0;
    }

    .main-section .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
    }

    .main-section .content > .content-right {
        margin-top: 4rem;
    }

    .main-section .content > div {
        padding-left: 0;
    }

    .last-section .content {
        gap: 2rem;
    }

    .last-section .content > .content-right {
        margin-top: 2rem;
    }

    .last-section .content .button-primary {
        margin-top: 0;
    }

    .footer-section .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer-section .content > .content-left {
        margin-top: 6rem;
    }

    .footer-section .content > .content-right {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 516px) { 
    .header img {
        height: 1.7rem;
    }
    .header-inner .button {
        padding: 0.5rem 1rem;
    }
    .presentation {
        margin-top: 6rem;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    a.button-primary {
        padding: 1.5rem 2rem;
    }
    form {
        margin-left: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    form > * {
        padding-left: 0;
    }
    form .left {
        width: 100%;
        margin-bottom: 1rem;
    }
    form .right {
        -webkit-box-flex: 0;
        -ms-flex: 0 1;
        flex: 0 1;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
}